div, header, body, textarea{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    width: 100%;
    height: 100%;
}

pre{
    width: 100%;
}
code{
    background-color: #ddd;
    border: 1px solid #bbb;
    padding: 10px;
    display: block;
}


table {
    margin-top: 20px;
    min-width: 50%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th{
    border: 1px solid black;
    background-color: #ddd;
    padding: 5px;
}
td{
    border: 1px solid black;
    padding: 5px;
}